:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


// ВЫ МОЖЕТЕ заметить наличие 'px' в некоторых местах. это нужно чтобы подогнать блоки под стилизацию element-ui
.demo {
  display: flex;
  height: calc(100vh - 1rem);
  width: 100%;
  .project-description {
    margin-left: .5rem;
    width: 60%;
    height: fit-content;
    max-height: 100%;
    overflow-y: auto;
  }
  .task-list-container {
    width: 100%;
    max-width: 1000px;
    height: 100%;
    .el-tabs__new-tab {
      margin: -1px !important;
      height: 38px !important;
      width: 38px !important;
      border-radius: 0 !important;
      border: 1px solid var(--el-color-primary-light-5) !important;
      background: var(--el-color-primary-light-9) !important;
      color: var(--el-color-primary) !important;
      svg { transform: scale(1.5) }
      &:hover {
        color: var(--el-color-white) !important;
        background-color: var(--el-color-primary) !important;
      }
    }
    .el-tabs__content {
      height: calc(100% - 69px);
      display: flex;
      flex-direction: column;
      .el-tab-pane {
        overflow-y: auto;
      }
      .task-card {
        &:not(:last-of-type) {
          margin-bottom: 1rem;
        }
        .content {
          display: flex;
          justify-content: space-between;
          align-items: center;
          .title {
            text-align: initial;
            word-wrap: anywhere;
          }
          .controls {
            display: flex
          }
        }
      }
    }
  }
}
.el-message-box__message {
  font-weight: bold;
  font-size: var(--el-font-size-large);
  text-align: center;
  color: var(--el-text-color-primary);
}
.el-form-item__label {font-weight: bold;}
.el-checkbox__label {font-weight: bold}
.el-dialog {
  max-width: 800px !important;
  .el-dialog__title { font-weight: bold }
}
@media screen and (max-width: 1000px) {
  .demo {
    flex-direction: column-reverse;
    .project-description {
      margin-left: 0;
      margin-bottom: .5rem;
      width: 100%;
      height: 30%;
      overflow: auto !important;
    }
    .task-list-container {
      width: 100%;
      max-height: 70%;
      min-height: 70%;
      .el-tabs__content {
        .task-card {
          &:not(:last-of-type) {
            margin-bottom: .75rem;
          }
        }
      }
      .el-card__body {
        padding: .6rem;
      }
    }
  }
}


